@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #8b9c8c;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

.logo {
    width: 200px;
    background-color: transparent;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #f4f4f4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #5e5e4a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home Page */

#hero {
    background-image: url("img/hero-img1.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 20px;
    color: #5e5e4a;
}

#hero h2 {
    color: #5e5e4a;
    font-weight: 400;
}

#hero button {
    background-color: #8b9c8c;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    border-radius: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

#hero button:hover {
        background: #088178;
}

#hero p {
    color: #5e5e4a;
}

.outer-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#feature .featbox {
    width: 250px;
    text-align: center;
    padding: 25px 50px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .featbox:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .featbox img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .featbox h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #465b52;
    background-color: #fddde4;
}

#feature .featbox:nth-child(1) h6 {
    background-color: #fff2e5 ;
}

#feature .featbox:nth-child(3) h6 {
    background-color: #d1e8f2
}

#feature .featbox:nth-child(4) h6 {
    background-color: #cdebbc
}

#product1 {
    text-align: center;
}

#product1 .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 h2 {
    color: #5e5e4a;
}

#product1 .prod {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #ccc7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
}

#product1 .prod:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease;
}

#product1 .prod .picture {
    width: 100%;
    height: 75%;
    border-radius: 20px;
}

#product1 .prod .desc {
    text-align: start;
    padding: 10px 0;
}

#product1 .prod .desc span {
    color: #606063;
    font-size: 14px;
}

#product1 .prod .desc h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

#product1 .prod .desc h4 {
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #088178;
}

#product1 .prod .cart {
    width: 40px;
    height: 40px;
    line-height: 48px;
    background-color: #e8f6ea;
    font-size: 25px;
    font-weight: 500;
    color: #088178 ;
    border-radius: 20px;
    border: 1px solid #cce7d0;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/foto-cabelo.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 3vw;
}

#banner a {
    color: #5e5e4a;
    font-size: 24px;
    background: rgba(239, 239, 239, 0.6);
    border-radius: 5px;
}

#banner a:hover {
    color: #088178;
    transition: 0,3 ease;
}

#banner h2 {
    color: #5e5e4a;
    font-size: 30px;
    background: rgba(239, 239, 239, 0.6);
    border-radius: 5px;
}

#cauliblog {
    background: rgb(239, 239, 239);
}

#cauliblog .blog-title {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#cauliblog h2 {
    color: #5e5e4a;
}

#cauliblog .blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;
}

#cauliblog .blogpost {
    width: 23%;
    min-width: 250px;
    height: 50vh;
    padding: 10px 12px;
    border: 1px solid #ccc7d0;
    border-radius: 20px;
}

#cauliblog .blogpost .blog-picture {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 20px;    
}

#cauliblog .blog-button {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#cauliblog button {
    background-color: #8b9c8c;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    border-radius: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2 ease;
}

#cauliblog button:hover {
    background: #088178;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #8b9c8c;
    /*background-image: url(img/newsletter_background.jpg);
    background-repeat: no-repeat;
    background-position: 20% 10%;*/
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#newsletter p span {
    color: #000;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    padding: 0 1.25em;
    background-color: #088178;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    transition: 0.2 ease;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer .payment {
    width: 200px;
    background-color: transparent;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #5e5e4a;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #5e5e4a;
    margin-bottom: 10px;
}

footer .followicon {
    cursor: pointer;
}

footer .followicon:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Cart Page */

/* Start Media Query */

@media (max-width: 1110px)  {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #f4f4f4;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 40px;
        left: 40px;
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }

    #hero {
        height: 70vh;
        padding: 10px 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .featbox {
        margin: 15px 15px;
    }

    #product1 .product-container {
        justify-content: center;
    }

    #product1 .prod {
        margin: 15px;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 640px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    #hero h4 {
        font-size: 24px;
        background-color: rgba(239, 239, 239, 0.6);
        border-radius: 5px;
    }
    
    #hero h2 {
        display: none;
    }

    #hero p {
        background-color: rgba(239, 239, 239, 0.6);
        border-radius: 5px;
    }

    #hero {
        background-position: 33%;
        padding: 0 20px;
    }

    #feature .featbox {
        width: 145px;
        margin: 0 0 15px 0;
        padding: 0;
    }

    #feature {
        justify-content: space-around;
    }

    #product1 .prod {
        width: 100%;
    }

    #banner a {
        font-size: 18px;
    }

    #banner h2 {
        font-size: 14px;
    }

    #cauliblog .blogpost {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

}